<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/service.css">
    

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
    <section id="header">
        <div id="logo">
            <a href="#home">
                <img src="./static/img/logo.svg" alt="logo" srcset="">
            </a>
        </div>
    </section>

    <section id="home">
        <div id="content-main">
            <div id="main">
                <div id="headline">
                    <img id="h1" src="./static/img/H1.svg">
                    <img id="p" src="./static/img/P.svg">
                </div>
                <div id="cta">
                    <a href="#box" id="startBtn">
                    <img src="./static/img/button.svg" alt=""> 
                    </a>
                </div>
                
            </div>
        
            <!-- imagens -->
            <div id="images">
                <div id="content" alt="">
                    <div class="frame" id="pt1">
                        <img src="./static/img/frame 1.svg">
                    </div>
                    <div class="frame" id="pt2">
                        <img src="./static/img/frame 2.svg">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="service">
        <div id="content">
            <div id="left" class="side">
                <div id="send">
                    <div id="input">
                        <div id="box" class="uploadArea">
                            <label id="selectBtn" for="fileInput"><img src="./static/img/select.svg" alt="selecionar"></label>
                            <input type='file' style="display:none;" id="fileInput" name="fileInput" accept= ".pdf" multiple>
                        </div>

                        <div id="info">
                            <div id="btns">
                                <img id="sendBtn" src="./static/img/send-btn.svg" alt="">

                                <label class="checkbox-container">
                                    <input type="checkbox" name="checkbox" id=""checkbox"">
                                    <span class="checkmark"></span>
                                    Li e concordo com os <span class="terms">termos e condições</span>
                                </label>
                            </div>
                            <div id="disclaimer">
                                EM RESPEITO A LGPD, SEGUIMOS COM A RESPONSABILIDADE DE <b>NÃO COMPARTILHAR</b> INFORMAÇÕES RECEBIDAS DE MODO A NÃO <b>DIVULGAR 
DADOS DOS USUÁRIOS</b>.
                            </div>
                        </div>
                    </div>
                    <div id="bottom">
                    </div>
                </div>
            </div>
            <div id="right" class="side">
                <div id="response">
                    <div id="content">
                        
                    </div>

                </div>
            </div>
        </div>
    </section>
    <script src="../static/script.js"></script>
</body>
</html>